
/* gestion des cards */

/* Styles pour Swiper */
.swiper {
    width: 100%;
    padding: 20px 0;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0056b3; */
  }

  /* Cartes uniformes */
  .sujet-card {
    display: flex;
    flex-direction: column;
    border-radius: 25px 5px 25px 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* background-color: #0056b3; */

  }

  .sujet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }

  /* Image ajustée */
  .sujet-card img {
    height: 150px;
    object-fit: cover;
    aspect-ratio: 1/2;
  }

  /* Texte bien espacé */
  .card-bodyy {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-color: #e0b880; */
  }

  /* Bouton personnalisé */
  .btn-custom1 {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  .disabled-button {
    background-color: #d1d5db; /* Gris clair */
    color: #6b7280; /* Gris foncé */
    cursor: not-allowed;
    opacity: 0.6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .disabled-button:hover{
    background-color: #d1d5db;
    color: #6b7280;
    cursor: not-allowed;

  }

  .btn-custom1:hover {
    background-color: #0056b3;
  }

  .card-error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .card-error p{
    font-size: 25px;
  }
.sujets-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr); /* Par défaut 1 colonne */
}

@media (min-width: 576px) {
  .sujets-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  }
}

@media (min-width: 768px) {
  .sujets-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  }
}

@media (min-width: 992px) {
  .sujets-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
  }
}
