.titre-academy-avantage span{
  color:#ef8f0a;
  font-family:  'Montserrat';
  font-style: italic ;
  font-size: 2.4rem;
  
}
.title-academy{
  color: black;
}

.icone-academy{
  color: #4f46e5;
  font-size: 1px;
}

.title-academy-desc{
  font-size: 0.9rem;
}