.nav {
  position: sticky;
  bottom: 0px;
  top: 0px;
  z-index: 900;
  background-color: white;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1);
  padding: 40px 0 0 20px !important
}

.image-logo {
  position: absolute;
  width: 140px;
  margin: -80px 15px -0px -85px;



}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ef8f0a;
}

.actuel {
  color: #ef8f0a;
}

@media (max-width:768px) {
  .nav {

    padding: 10px 0 10px 0px !important
  }

  .image-logo {
    position: relative;
    width: 100px;
    margin: -65px 0px -60px -50px;



  }
}

@media (min-width: 992px) {
  .respons-nav {
    font-size: 1.25vmax
  }
}

/* Appliquer à tous les menus dropdown */
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

/* Ajuster les animations */
.navbar-nav .dropdown-menu {
  margin-top: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
}

.navbar-nav .dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}