.condition{
  margin: 0 40px
}

p{
 
  font-size: 17px;
}

p:nth-child(odd){
  font-weight: 550;
}

@media screen and (max-width: 1000px) {
  .condition {
    margin: 0 20px; /* Réduction de la marge pour mobile */
  }
}