
/* gestion des cards */

/* Styles pour Swiper */
.swiper {
  width: 100%;
  padding: 20px 0;
  
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0056b3; */
}

/* Cartes uniformes */
.sujet-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 0 !important;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* background-color: #0056b3; */

}

.sujet-card:hover {
  transform: translateY(-5px);
  box-shadow:none;
}

/* Image ajustée */
.sujet-card img {
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1/2;
  border-radius: 0;
}

/* Texte bien espacé */
.card-bodyy {
  height: 600px !important;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
 padding: 10px 0;
  align-items: center;
  justify-content: center;
  /* background-color: #e0b880; */
}

/* Bouton personnalisé */
.btn-custom1 {
  background-color:#ef8f0a;
  width: 95%;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
.disabled-button {
  background-color: #d1d5db; /* Gris clair */
  color: #6b7280; /* Gris foncé */
  cursor: not-allowed;
  opacity: 0.6;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.disabled-button:hover{
  background-color: #d1d5db;
  color: #6b7280;
  cursor: not-allowed;

}

.btn-custom1:hover {
  background-color: #0056b3;
}

.card-error{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.card-error p{
  font-size: 25px;
}

div.photo img{
  height: 400px;
  object-fit: cover;
  
}

.contact-info ul {
  display: flex;
  flex-direction: column;
  gap: 3px !important;
}

.contact-info ul li:nth-child(odd){
  font-weight: 600;
  font-size: 1.2rem;
}

.contact-info ul li:nth-child(odd)  {
 color: #ef8f0a !important;
  margin-right: 10px;
  font-size: 1rem;
}

.contact-info ul li:nth-child(even){
  font-weight: 450;
  font-size: 0.7rem;
  margin-bottom: 2px !important;
}

.contact-info p,.realisation p{
  color: #ef8f0a;
  font-size: 1.4rem;
  font-weight: 600;
 }

  .prestations-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1.5rem;
          }

        

          @media (min-width: 992px) {
            /* Desktop : 4 colonnes, 10 en vertical géré par pagination */
            .prestations-grid {
              grid-template-columns: repeat(3, 1fr);
            }
              
          }